# Sales Data Exploratory Data Analysis

## Table of Contents:
* [Goal](#goal)
* [Dataset](#dataset)
    * [Importing the Libraries](#import)
    * [Reading and Viewing the Dataset](#reading)
    * [Dropping Redundant Columns](#drop)
    * [Rearranging and Renaming Columns ](#rename)
    * [Detecting Missing Values](#missing)
    * [Dropping Duplicate Values](#duplicates)
    * [Preprocessing Rows and Columns](#preprocessing)
* [Conclusion](#conc)

***

## Goal <a class="anchor" id="goal"></a>

We are going to be performing Exploratory Data Analysis on the Sales Data to determine characteristics and have a better understanding of the said data.

***

## Dataset<a class="anchor" id="dataset"></a>

### Importing Necessary Libraries<a class="anchor" id="import"></a>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
warnings.warn("thisnwill not show")

### Reading and Viewing the Dataset <a class="anchor" id="reading"></a>

In [2]:
df = pd.read_excel("Satislar_last.xlsx")

In [3]:
df.shape

(190031, 31)

In [4]:
df.head()

,nOrderId,Company,Customer ID,cPostCode,Received_Day,Received_Month,Received_Year,Received_Date,Received_Time,Country,...,Total,OrderItemSKU,OrderItemTitle,ItemCategory,OrderItemQuantity,DispatchStockUnitCost,TotalWeight,PurchasePrice,TrackingNumber,PostalService
0,102878.0,Redacted,C0000001,Redacted,13.0,6.0,2020.0,2020-06-13,15:05:00,Italy,...,33.760000,49472-my,Mynes Home UK - Tappeto piccolo e grande per s...,Default,1.0,0.0,0.0,0.0,1510000000000,2-5 Business Day
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,109559.0,NaN,C0000002,OL13 8BT,14.0,12.0,2020.0,2020-12-14,08:12:00,United Kingdom,...,49.800001,2414,Soft Shaggy Collection Machine Washable in Gre...,Default,1.0,0.0,2.0,0.0,PM205128211GB,Royal Mail Tracked 48
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,108651.0,Redacted,C0000001,Redacted,28.0,11.0,2020.0,2020-11-28,13:15:00,Germany,...,55.440000,2185,THE RUGS Kurzflor Modern Teppich Wohnzimmer We...,Default,1.0,0.0,0.0,0.0,1510000000000,2-5 Business Day

### Dropping Redundant Columns<a class="anchor" id="drop"></a>

In [5]:
df = df.drop(["Company",
              "TrackingNumber",
              "Processed",
              "TotalWeight",
              "DispatchStockUnitCost"], axis = 1)
                                                          # dropping redundant columns

### Rearranging and Renaming Columns<a class="anchor" id="rename"></a>

In [6]:
df.columns                                                # checking column names

Index(['nOrderId', 'Customer ID', 'cPostCode', 'Received_Day',
       'Received_Month', 'Received_Year', 'Received_Date', 'Received_Time',
       'Country', 'status', 'ProcessedDay', 'ProcessedMonth', 'ProcessedYear',
       'ProcessedDate', 'ProcessedTime', 'Source', 'Currency', 'Subtotal',
       'Tax', 'Total', 'OrderItemSKU', 'OrderItemTitle', 'ItemCategory',
       'OrderItemQuantity', 'PurchasePrice', 'PostalService'],
      dtype='object')

In [7]:
df.rename(columns={"nOrderId" : "OrderId",
                   "Customer ID" : "CustomerID",
                   "cPostCode" : "Post_Code",
                   "dReceievedDate" : "ReceivedDate",
                   }, inplace=True)                       # renaming columns

### Detecting Missing Values<a class="anchor" id="missing"></a>

In [8]:
round((df.isna().sum() / 
       df.shape[0] * 100), 5)                             # checking the missing value ratio

OrderId              49.99974
CustomerID           50.02131
Post_Code            50.02289
Received_Day         49.99974
Received_Month       49.99974
Received_Year        49.99974
Received_Date        49.99974
Received_Time        49.99974
Country              49.99974
status               49.99974
ProcessedDay         51.82260
ProcessedMonth       51.82260
ProcessedYear        51.82260
ProcessedDate        51.82260
ProcessedTime        51.82260
Source               49.99974
Currency             49.99974
Subtotal             49.99974
Tax                  49.99974
Total                49.99974
OrderItemSKU         49.99974
OrderItemTitle       49.99974
ItemCategory         49.99974
OrderItemQuantity    49.99974
PurchasePrice        49.99974
PostalService        49.99974
dtype: float64

### Dropping Duplicates <a class="anchor" id="duplicates"></a>

In [9]:
df.duplicated().value_counts()                                 # checking duplicate values

True     95115
False    94916
dtype: int64

In [10]:
df.drop_duplicates(inplace=True)                               # dropping duplicates

In [11]:
df.drop(df.index[1], inplace=True)                             # dropping the original nan row

In [12]:
df = df.sort_values(by = "OrderId")

df.reset_index(drop=True, inplace=True)                        # resetting the index and sorting by OrderId

### Preprocessing Rows and Columns <a class="anchor" id="preprocessing"></a>

In [13]:
df['ReceivedDate'] = df['Received_Day'].astype(dtype='int32').astype(str) + '-' + df['Received_Month'].astype(dtype='int32').astype(str) + '-' + df['Received_Year'].astype(dtype='int32').astype(str)

In [14]:
df['ReceivedDate'] = pd.to_datetime(df['ReceivedDate'], dayfirst=True)

In [15]:
df.drop(['Received_Day',
         'Received_Month',
         'Received_Year'], axis=1, inplace=True)

In [16]:
df["ReceivedDate_year"] = df.ReceivedDate.dt.year

df["ReceivedDate_month"] = df.ReceivedDate.dt.month

df["ReceivedDate_day"] = df.ReceivedDate.dt.day

df["ReceivedDate_hour"] = df.ReceivedDate.dt.hour   # extracting date information into new columns

***

In [17]:
df.OrderItemQuantity = df.OrderItemQuantity.astype("int32")    # changing the data type of the OrderItemQuantity column

***

In [18]:
df["AdjustedTotal"] = df.apply(lambda row: row["Total"]*0.9 if "EUR" in row["Currency"] else 
                               (row["Total"]*0.19 if 'PLN' in row["Currency"] else (
                               row["Total"]*0.19 if 'SEK' in row["Currency"] else row["Total"])), axis=1)
                                                    # creating a column by adjusting values in Total column by Currency column

In [19]:
df.groupby(["Currency"]).AdjustedTotal.agg(["min", "max", "mean"])
                                                    # displaying the AdjustedTotal column

               min         max        mean
Currency
EUR        25.4790  234.612000   68.762169
GBP         0.0000  879.200012   52.573652
PLN        58.3300   58.330000   58.330000
SEK       335.0783  604.507800  495.351280
UNK         0.0000    0.000000    0.000000

***

In [20]:
"""We were provided with a new file for the missing values in the PurchasePrice column."""


purc = pd.read_excel("PurchasePriceZero.xlsx")               # reading the file

In [21]:
purc.rename(columns={"nOrderId":"OrderId"}, inplace=True)    # renaming the orderID column so that it matches the original data

In [22]:
for i, row in df.iterrows():
    if row['PurchasePrice'] == 0:
        new_price = purc[purc['OrderId'] == row['OrderId']]['PurchasePrice'].values[0]
        df.loc[i, 'PurchasePrice'] = new_price
(df.PurchasePrice==0).value_counts()                         # assigning new values to our original dataset

False    94915
Name: PurchasePrice, dtype: int64

In [23]:
df.PurchasePrice.value_counts(dropna=False).sort_index()     # checking the new values

1.000000      763
1.110375      244
1.220000        2
1.250000        2
1.830000       88
             ...
155.000000      7
165.000000     20
185.000000      1
205.000000      1
255.000000      8
Name: PurchasePrice, Length: 140, dtype: int64

***

In [24]:
df['Profit'] = df['Subtotal'] - df['PurchasePrice']           # calculating the profit

## Conclusion <a class="anchor" id="conc"></a>

We, as a team, went over every single feature throughtout our Exploratory Data Analysis. We cleaned, adjusted and organized the data. It is now ready for further analyses.

In [25]:
df

,OrderId,CustomerID,Post_Code,Received_Date,Received_Time,Country,status,ProcessedDay,ProcessedMonth,ProcessedYear,...,OrderItemQuantity,PurchasePrice,PostalService,ReceivedDate,ReceivedDate_year,ReceivedDate_month,ReceivedDate_day,ReceivedDate_hour,AdjustedTotal,Profit
0,100003.0,C0000001,Redacted,2019-12-11,18:58:00,United Kingdom,PAID,14.0,12.0,2019.0,...,1,15.09,Default,2019-12-11,2019,12,11,0,49.90,34.810000
1,100004.0,C0000001,Redacted,2019-12-11,23:50:00,United Kingdom,PAID,12.0,12.0,2019.0,...,1,8.36,Default,2019-12-11,2019,12,11,0,39.90,31.540000
2,100005.0,C0000001,Redacted,2019-12-11,21:13:00,United Kingdom,PAID,12.0,12.0,2019.0,...,1,23.20,Default,2019-12-11,2019,12,11,0,79.90,56.700000
3,100006.0,C0000001,Redacted,2019-12-11,17:57:00,United Kingdom,PAID,13.0,12.0,2019.0,...,1,8.36,Default,2019-12-11,2019,12,11,0,39.90,31.540000
4,100007.0,C0005444,HP13 6JT,2019-12-11,18:16:00,United Kingdom,PAID,14.0,12.0,2019.0,...,1,15.00,Default,2019-12-11,2019,12,11,0,54.90,39.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94910,192213.0,C0001333,SW2 5TN,2022-12-05,09:28:00,United Kingdom,PAID,NaN,NaN,NaN,...,2,3.00,New DHL - Next Day (Medium),2022-12-05,2022,12,5,0,29.98,21.983333
94911,192214.0,NaN,NaN,2022-12-05,09:33:00,UNKNOWN,UNPAID,NaN,NaN,NaN,...,1,6.00,Default,2022-12-05,2022,12,5,0,0.00,-6.000000
94912,192215.0,NaN,NaN,2022-12-05,09:46:00,UNKNOWN,UNPAID,NaN,NaN,NaN,...,1,10.00,Default,2022-12-05,2022,12,5,0,33.99,18.325000
94913,192216.0,NaN,NaN,2022-12-05,09:41:00,UNKNOWN,UNPAID,NaN,NaN,NaN,...,1,18.00,Default,2022-12-05,2022,12,5,0,93.41,59.841667
94914,192217.0,NaN,NaN,2022-12-05,09:51:00,UNKNOWN,UNPAID,NaN,NaN,NaN,...,1,2.00,Default,2022-12-05,2022,12,5,0,9.99,6.325000